@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2a333b;
  font-family: "Assistant", serif;
  font-weight: 400;
}

/* Designing navigation bar */
nav {
  margin-top: 320px;
  background-color: #00c4a7;
  text-align: center;
  padding: 20px 0 20px;
}

nav li {
  display: inline;
  font-size: 26px;
  font-weight: 300;
  margin-left: 200px;
  /* border: 1px solid; */
}

nav li a {
  text-decoration: none;
  color: #2a333b;
}

nav li:first-child a {
  text-decoration: none;
  color: aliceblue;
}

/* designing portfolio image section */
div.image-section img,
h3 {
  display: inline-block;
}

div.image-section {
  margin-top: 50px;
  text-align: center;
}

.image-section h3 {
  font-family: "Times New Roman", Times, serif;
  color: aliceblue;
  font-size: 90px;
  text-align: left;
}
